:root {
    --bg-color: #f6f6f6;
    --text-color: #1C1C1C;
    --nav-bar-color: linear-gradient(#436488, #2e435c);
    --nav-text-color: #efecec;
}

.dark-mode {
    --bg-color: #1C1C1C;
    --text-color: #ebe5e5;
}

body {
    /* background-color: hsl(7, 85%, 99%); */
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.2s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    /* color: #ebe5e5; */
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    /* color: #ebe5e5; */
}

#site-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    /* color: #ebe5e5; */
    text-align: center;
    margin: 50px;
}

#theme-toggle {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-image: var(--nav-bar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#theme-toggle svg {
    fill: var(--nav-text-color);
}

#theme-toggle svg:last-child {
    display: none;
}

.dark-mode #theme-toggle svg:first-child {
    display: none;
}

.dark-mode #theme-toggle svg:last-child {
    display: block;
}

.nav-bar {
    background-image: var(--nav-bar-color);
    /* background-color: #344e6a; */
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    /* Aligns items in the flex box on the main-axis (horizontal) */
    align-items: center;    /* Aligns items in the flex box on the cross-axis (vertical) */
}

.nav-button {
    background-image: linear-gradient(#436488, #2e435c);
    /* background-color: #344e6a; */
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: var(--nav-text-color);
}

.nav-button.active {
    font-style: normal;
}

.nav-button:link {
    text-decoration: none;
    color: var(--nav-text-color);
}

.nav-button:visited {
    color: var(--nav-text-color);
}

.nav-button:hover {
    /* background-color: black; */
    /* background-image: none; */
    color: #ffffff;
    cursor: pointer;
}

.image_container {
    /* border: 5px solid white; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image_container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 2%;
    margin-bottom: 2%;
}

.divider {
    background-image: var(--nav-bar-color);
    /* background-color: #344e6a; */
    /* margin: 15% 10% 10%; */
    height: 70px;
}
